
 <!--  <label>tweet</label>
  <input type="text" v-model="tweet.content" />
  <button v-on:click="Submit">Submit</button>

<%= content_tag :div,
  id: "feed-form",
  data: {
    tweets: @sorted_tweets
  } do %>

<% end %> -->

<h1>Tweets</h1>

<div id="feeds">
  <label>tweet now!</label>
  <input type="text" v-model="tweet.content" />
  <span style="color:red">{{ errors.content }}</span>
  <button @click="saveTweet">Submit</button>

  <table>
    <tbody>
      <tr v-for="tweet in tweets">
        <td>{{ tweet.user.username }}</td>
        <td>{{ tweet.follow }}</td>
        <!-- <td><button @click="follow">follow</button></td> -->
        <td>{{ tweet.content }}</td>
      </tr>
    </tbody>
  </table>
  <div id="users" style="display: none;"> <%= @users_array %> </div>
</div>
