<!--
<%= content_tag :div,
  id: "tweet-form",
  data: {
    tweets: @following_tweets
  } do %>



<% end %>
 -->

<h1>Tweets</h1>

<div id="tweets">
  <label>tweet now!</label>
  <input type="text" v-model="tweet.content" />
  <span style="color:red">{{ errors.content }}</span>
  <button @click="saveTweet">Submit</button>

  <table>
    <tbody>
      <tr v-for="tweet in tweets">
      <td><a v-bind:href="'/users/'+ tweet.user.id">{{ tweet.user.username }} </a></td>
      <td>{{ tweet.follow }}</td>
        <td>{{ tweet.content }}</td>
      </tr>
    </tbody>
  </table>
  <div id="users" style="display: none;"> <%= @users_array %> </div>

</div>


