<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h2>What are people tweeting now</h1>

      <div id="tweets">
        <div style="display: flex; flex-direction: column;">
          <textarea name="Text1" cols="40" rows="5" class="form-control" v-model="tweet.content" placeholder="Write your tweet here" ></textarea>
          <span style="color:red">{{ errors.content }}</span>
          <div class="button" style="display:flex">
            <button class="btn btn-primary tweet-btn"  @click="saveTweet">Submit</button>
            <!-- <div id="characters" class="text-center" style="margin: auto 2px"><i>0</i></div> -->
          </div>
        </div>
        <ul class="list-group" v-for="tweet in tweets" style="margin-top: 20px">
          <li class="list-group-item tweet-row" style="display: flex; justify-content: space-between;">
            <div style="display: flex; align-items: center; justify-content: center;   flex-direction: column;">
              <a class="img-thumbnail" v-bind:href="'/users/'+ tweet.user.id"> <%= image_tag("user-default.png", height: '64', width: '64')%> </a>
              <a v-bind:href="'/users/'+ tweet.user.id" class="text-center" style="width: 120px">{{ tweet.user.username }} </a>
            </div>
            <div style="margin: auto 10px; align-content: left; width: 58%;"> {{ tweet.content }} </div>
            <div style="margin: auto 0px; align-content: right; width: 70px;"> {{ tweet.follow}} </div>
          </li>
        </ul>
        <div id="users_array" style="display: none;"> <%= @users_array %> </div>
      </div>

  </div>
  </div>
</div>


    <%= javascript_pack_tag 'index' %>

