

<%= render 'tweets/form', user: @user, tweet: @tweet %>

<form id="tweet-form" action="/tweets" method="post">
  <input type="text" v-model="tweet.content">
</form>

<% if current_user.tweets.nil? %>
<%= "you have no tweet, create one please!" %>
<% else %>
<% current_user.tweets.each do |tweet|%>
  <%= render 'tweets/show', tweet: tweet %>
  <% end %>
<% end %>
