

<h1>Tweets</h1>


<div id="show">
  <button  @click="follow"> click to follow </button>
  <!-- <button id="unfollow-btn" @click="unfollow"> followed </button> -->
   <div id = "select-id" style="display: none"> <%= params[:id] %> </div>
   <div id = "currentUserId" style="display: none"> <%= current_user.id %> </div>
  <table>
    <tbody>
      <tr v-for="tweet in tweets">
        <td>{{ tweet.user.username }} </a></td>
        <td>{{ tweet.follow }}</td>
        <td>{{ tweet.content }}</td>
      </tr>
    </tbody>
  </table>
 </div>

</div>
